body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
.title, .lineUp{
  padding:5px 12px;
  float:left;
}  
.title, .topUp{
  padding:5px 12px;
  float:top;
}  
.title, .breakLineButton{
  padding:5px 12px;
  float:top;
}  
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
 -webkit-transition: top 1s, left 1s;
  border:10px rand;
  border-radius:10px;
  position:absolute;
}

.brey{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/albrey2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
  -webkit-animation: ;
}

.jamil{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/jamil.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.alan{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/alan.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.marc{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/marc.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}
.mo{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/mo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.khaled{
   -webkit-transition: spin 3s;
  background: url('assets/anotherone.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}
.kevin{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/kevin.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}

.jordan{
  -webkit-transition: top 1s, left 1s, height .5s, width .5s;
  background: url('assets/jordan.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
}


@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}